* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
li {
    list-style: none;
}
ul  {
 list-style: nome;   
}
.botao  {
    border: transparent;
    
  }
  .botao-lista {
    border: transparent;

  }
  .card {
    border: none;
  }
  input{
    border: none;
  }