body {
    background-color: white
    ;

}
.cabecalho .titulo{
    display:flex ; 
    align-items: center;
    justify-content:center;
    font-size: 50px;
    font-family: 'Great Vibes', cursive;

}
.foto-perfil {
    max-width: 100px;
    border-radius: 500% ;
    margin: 10px 10px auto;
    opacity: 90%;
}
.botoes {
    display: flex;
    justify-content:center;
    margin: 50px  50px ;
    
   
   
}

.botoes ul{
  display: flex;
}
.botoes li:first-child {
  border-bottom: 4px solid #C57C0F;
}
 .botao {
  font-family: 'Merriweather', serif;
    font-size: 20px;
    padding: 10px 20px;
     border-radius:30%;
     margin: 0px 10px;
     background: transparent;
    
}
.sub-titulo{
    font-family: 'Nanum Pen Script', cursive;
}

.fotos-produto{
    border-radius: 500% ;
    height: 75%;
    width: 30%;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    top: 10;
    flex-wrap: wrap;
}
article{
    width: 50%;
    margin-bottom: 32px;
}

.conteudo{
    display: flex;
    text-align: center;
    align-items: center;
    background: #d9d9d9;
    width: 80%;
    border-radius: 10px;
    height: 146px;
    justify-content: space-evenly;
    cursor: pointer;
    font-family: 'Allura', cursive;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
     display: none;
     
    
  }

  .conteudo-modal-principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .botao-qtd{
    border: none;
    font-size: 25px;
    background: transparent;
  }

  .botoes-add{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 10px;
  }
  .qtd-item{
    background: #E3E1E1;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
  }

  .conteudo-modal {
    background-color: #D9D9D9;
    padding: 20px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10%;
    position: relative;
    border-radius: 15px;
    padding: 20px;
    display: flex;
  }

  #diminuir{
   color: #B05151;
  }
  #aumentar{
    color: #8AA877;
  }

  #adicionar{
    background: transparent;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
  }

  .confirmar{
    background-color: #C57C0F;
    border-radius: 3px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 144px;
    padding: 4px;
  }
p{
  margin: 0px;
}
textarea{
    text-align: left;
}
.conteudo-modal-seg{
  display: flex;
  flex-direction: column;
  text-align: left;
}

  

  .fechar-modal {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
  }

  .foto-modal {
    border-radius: 500%;
    height: 88%;
    width: 90%;
  }

  .fonte-modal {
    display: inline-block;
    vertical-align: top;
    font-family: 'Allura', cursive;
    font-size: 30px;
   
  }
  .valor-uni{
    font-size: 19px;
    font-family: 'Merriweather', serif;
  }

  input.fonte-modal {
    width: 100%;
    margin-top: 10px;
}
.modal.aberto {
    opacity: 1;
    visibility: visible;
 }


 .conteudo-pai{
  display: flex;
  justify-content: center;
 }

 .conteudo h3{
  font-family: 'Shadows Into Light', cursive;
 }


.foto-fundo{
    background-color: #ffffff14;
    position: fixed;
    z-index: -1;
    top: 8%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.foto{
    opacity: 30%;
    
}
.carrinho{
position: absolute;
width: 10%;
height: 10%;
position: fixed;
top: 0px;
z-index: 1;
}

@media only screen and (max-width: 700px) {

  .cabecalho{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .botoes{
    margin: 0;
  }
  .botao{
    padding: 0;
    font-size: 14px;
  }
  section{
    flex-direction: column;
  }

  article{
    width: 100%;
    margin-bottom: 7px;
  }
  .conteudo{
    width: 100%;
  }
  .conteudo-modal{
    width: 93%;
    margin-top: 53%;
    left: 0px;
    top: -2px;
  }
  .foto-modal{
    width: 101px;
    height: 100px;
    position: relative;
    left: -5%;
    top: -88px;
  }
  .foto-modal{
    width: 100px;
  }
  header{
    position: fixed;
    width: 100%;
    top: 0;
    background: rgb(255, 255, 255);
    z-index: 1000;
  }
  nav{
    position: fixed;
    width: 100%;
    top: 153px;
    background: rgb(255, 255, 255);
    z-index: 1000;
  }
  main{
    margin-top: 212px;
  }
  .botao.selecionado {
    border: 2px solid #C57C0F; /* Cor e largura da borda, ajuste conforme necessário */
  }

  .botoes li:first-child {
    border-bottom: none;
  }

}

@media only screen and (max-width: 480px) {
 
  .cabecalho{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .botoes{
    margin: 0;
  }
  .botao{
    padding: 0;
    font-size: 14px;
  }
  section{
    flex-direction: column;
  }

  article{
    width: 100%;
    margin-bottom: 7px;
  }
  .conteudo{
    width: 100%;
  }
  .conteudo-modal{
    width: 93%;
    margin-top: 53%;
    left: 0px;
    top: -2px;
  }
  .foto-modal{
    width: 101px;
    height: 100px;
    position: relative;
    left: -5%;
    top: -88px;
  }
#story{
  top: 9px;
    position: relative;
    left: -43px;
}
.qtd-item{
  position: relative;
  left: -30%;
}
.confirmar {
  position: relative;
  left: -30%;
}
.fonte-modal {
  position: relative;
    left: 0%;
}
}

